<h1>Sankarit</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'Sankari', heros_path(order:"heroclass") %></th>
      <th><%= link_to 'Nimi', heros_path(order:"name") %></th>
      <th>Taito</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @heros.each do |hero| %>
      <tr>
        <td><%= link_to hero.heroclass, hero %></td>
        <td><%= hero.name %></td>
        <td><%= hero.power %></td>
        <td><%= link_to 'Edit', edit_hero_path(hero) %></td>
        <td><%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
