<p id="notice"><%= notice %></p>

<p>
  <h2>Username:</h2>
  <%= @user.username %>
</p>

<p>
	<strong>Decks:</strong>
	<% @user.decks.each do |deck| %>
		<ul>
			<li> <%= link_to deck.name, deck %> </li>
		</ul>
	<% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
