<h1>Kortit</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= link_to 'Nimi', cards_path(order:"name") %></th>
      <th><%= link_to 'Mana', cards_path(order:"mana") %></th>
      <th><%= link_to 'Attack', cards_path(order:"attack") %></th>
      <th><%= link_to 'Health', cards_path(order:"health") %></th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.name, card %></td>
        <td><%= card.mana %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td><%= card.text %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Lisää Kortti', new_card_path %>
