<h1>Listing cards</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Mana</th>
      <th>Rarity</th>
      <th>Attack</th>
      <th>Health</th>
      <th>Text</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= link_to card.name, card_path(card.id) %></td>
        <td><%= card.mana %></td>
        <td><%= card.rarity %></td>
        <td><%= card.attack %></td>
        <td><%= card.health %></td>
        <td><%= card.text %></td>
        <td><%= link_to 'Show', card %></td>
        <td><%= link_to 'Edit', edit_card_path(card) %></td>
        <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
