<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Mana:</strong>
  <%= @card.mana %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @card.attack %>
</p>

<p>
  <strong>Health:</strong>
  <%= @card.health %>
</p>

<p>
  <strong>Text:</strong>
  <%= @card.text %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
