<br>

<p>
  <strong>Nimi:</strong>
  <%= @deck.name %>
</p>

<p>
  <strong>Käyttäjä:</strong>
  <%= link_to @deck.user.username, @deck.user %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mana</th>
      <th>Attack</th>
      <th>Health</th>
      <th>Text</th>
    </tr>
  </thead>

<tbody>
   <% @deck.cards.each do |card| %>
	    <tr>
	      <td> <%= card.name %></td>
	      <td> <%= card.mana %></td>
	      <td> <%= card.attack %></td>
		    <td> <%= card.health %></td>
	      <td> <%= card.text %></td>
	    </tr>
   <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mana</th>
      <th>Attack</th>
      <th>Health</th>
      <th>Text</th>
      <th>Lisää kortti</th>
    </tr>
  </thead>

    <tbody>
      <% Card.all.each do |card| %>
      <tr>
        <td> <%= card.name %></td>
        <td> <%= card.mana %></td>
        <td> <%= card.attack %></td>
        <td> <%= card.health %></td>
        <td> <%= card.text %></td>
        <td> <%= link_to 'Lisää', in_decks_path(:card_id => card.id, :deck_id => @deck.id), method: :post %> </td>
      </tr>
    <% end %>
  </tbody>
</table>


