<%= form_for(@in_deck) do |f| %>
  <% if @in_deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@in_deck.errors.count, "error") %> prohibited this in_deck from being saved:</h2>

      <ul>
      <% @in_deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_id %><br>
    <%= f.number_field :card_id %>
  </div>
  <div class="field">
    <%= f.label :deck_id %><br>
    <%= f.number_field :deck_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
