<li><%= link_to 'Kortit', cards_path %></li>
<li><%= link_to 'Sankarit', heros_path %></li>
<li><%= link_to 'Pakat', decks_path %></li>
<li><%= link_to 'Käyttäjät', users_path %></li>
<% unless session[:user_id].nil? %>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
  <%= current_user.username %> <span class="caret"></span>
  <ul class="dropdown-menu">
	
  <li><%= link_to 'Käyttäjän sivu', current_user %></li> 
  <li><%= link_to 'Kirjaudu ulos', signout_path, method: :delete %></li>  
  <% else %>
  <li> <%= link_to 'Kirjaudu sisään', signin_path %></li>
  <li> <%= link_to 'Rekisteröidy', signup_path %></li>
 <% end %>
